form {
    width: 30%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 115px;
    input {
        width: 50%;
        height: 30px;
        border-radius: 10px;
        font-size: 15px;
        padding: 0 10px;
    }
}

